bitsandbytes
wandb
opencv-python 
omegaconf 
webdataset 
matplotlib
numpy==1.23.1
scikit-learn
torch==2.3.1+cu118
torchvision==0.18.1+cu118
torchaudio==2.3.1+cu118
--extra-index-url https://download.pytorch.org/whl/cu118