bitsandbytes
wandb
opencv-python 
omegaconf 
webdataset 
matplotlib
numpy==1.23.1
scikit-learn
torch==2.6.0 
torchvision==0.21.0 
torchaudio==2.6.0 
pytorch_lightning
peft==0.15.0
--index-url https://download.pytorch.org/whl/cu126